@import "../../vars.scss";
.menu {
  display: grid;
  grid-template-columns: 10% 70% 20%;

  &__signature {
    img {
      width: 50%;
    }
  }

  &__options {
    display: flex;
    flex-direction: row;
    justify-self: right;
    a {
      text-decoration: none;
      color: black;
      margin: auto 20px;
      text-transform: uppercase;
      font-weight: 600;
    }
    a:hover {
      color: $primary-color;
    }
  }

  &__button {
    display: flex;
    justify-self: right;
    margin: auto 0;

    .basic-button {
      text-transform: uppercase;
      color: white;
      background-color: $primary-color;
      text-decoration: none;
      padding: 15px 25px;
      border-radius: 5px;

      box-shadow: 2px 2px 4px 0px #949494;
    }
  }
}
