@import url("https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i&display=swap");

$theme-font: "Muli", sans-serif;
$primary-color: #3377f7;
$secondary-color: #54448d;
$tertiary-color: rgb(99, 96, 199);
$quaternary-color: #54e2b7;

.basic-button {
  text-transform: uppercase;
  color: white;
  background-color: $primary-color;
  text-decoration: none;
  padding: 15px 25px;
  border-radius: 5px;
}
